<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="http://www.eunsung.net/img/main/logo-b.png" alt="main">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'locationapp:main' %}">Location</a>
                    <a class="nav-link" href="{% url 'usageapp:data_usage' %}">Usage</a>
                    <a class="nav-link" href="{% url 'accountapp:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 200px;">
            <div class="col-6 chart">
                <canvas id="mychartone" width="700" height="700"></canvas>
            </div>
            <div class="col-6 chart">
                <canvas id="mycharttwo" width="700" height="700"></canvas>
            </div>
        </div>
    </div>
    <script>
        $.ajax({
            url : "http://127.0.0.1:8000/usage/json_chart/",
            dataType: "json"
        }).done(function (data) {
            console.log(data);

            for (var  idx = 0; idx < data.length; idx++) {

                let mychartone = document.getElementById('mychartone').getContext('2d');
                let mycharttwo = document.getElementById('mycharttwo').getContext('2d');


                let data1 = [data[0].mon_avg,data[0].tus_avg,data[0].wed_avg,data[0].thr_avg,data[0].fri_avg,data[0].sat_avg,data[0].sun_avg];
                //console.log('데이터',data1)
                let colors1 = ['red', 'orange', 'yellow', 'green', 'skyblue', 'blue', 'purple', '#D600FCFF'];
                let barChart = new Chart(mychartone, {
                    type: 'bar',
                    data: {
                        labels: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', ' 일요일'],
                        datasets: [{
                            label: '요일별 색상',
                            data: data1,
                            backgroundColor: colors1
                        }]
                    },
                    options: {
                        title: {
                            text: '요일별사용량',
                            display: true,
                            fontSize: 50,
                            fontColor: '#9E9C9CFF'
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                        },
                    }
                });

                let data2 = [data[0].ja,data[0].fe,data[0].mar,data[0].apr,data[0].may,data[0].jun,data[0].jul,data[0].aug,data[0].sep,data[0].oct,data[0].nov,data[0].dec];
                //console.log('파이차트 데이터',typeof(data2));
                let colors2 = ['red', 'orange', 'yellow', 'green', 'skyblue', 'blue', 'purple', '#D600FCFF', 'teal', 'cyan', 'gray', 'black'];
                let pieCharttwo = new Chart(mycharttwo, {
                    type: 'pie',
                    data: {
                        labels: ['1월', '2월', '3월', '4월', '5월', '6월', ' 7월', '8월', '9월', '10월', '11월', '12월'],
                        datasets: [{
                            label: '월별 색상',
                            data: data2,
                            backgroundColor: colors2
                        }]
                    },
                    options: {
                        title: {
                            text: '월별사용량',
                            display: true,
                            fontSize: 50,
                            fontColor: '#9E9C9CFF'
                        },
                        legend: {
                            display: true,
                            position: 'bottom'
                        }
                    }
                })
            }
        });
    </script>
</body>
</html>